:root {
  --background: #1f2937;
  --backgroundSecondary: #2f3e53;
  --text: #fff;
  --textSecondary: #d5d4d8;
  --headerFont: Karla, Arial;
  --textFont: Inter, Arial;
  --green: #55f991;
  --greenSecondary: #10b981;
  --6px: 0.375rem;
  --9px: 0.5625rem;
  --10px: 0.625rem;
  --12-8px: 0.8rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --25px: 1.5625rem;
  --32px: 2rem;
  --40px: 2.5rem;
  --45px: 2.8125rem;
  --200px: 12.5rem;
  --352px: 22rem;
  color: var(--text);
  background-color: var(--background);
  font-family: var(--text-font);
}

body {
  margin: 0;
}

#container {
  margin: 40px;
}

#header-el {
  width: var(--352px);
  margin-top: 0px;
  margin-bottom: var(--12-8px);

  font-family: var(--headerFont);
  font-size: var(--40px);
  line-height: var(--40px);
  color: var(--text);
}
#header-part-el {
  color: var(--green);
}

#lower-header-el {
  margin-top: 0;
  margin-bottom: var(--45px);
  font-family: var(--textFont);
  font-weight: 400;
  font-size: var(--20px);
  color: var(--textSecondary);
}

#generate-btn-el {
  margin-top: 0;
  margin-bottom: var(--25px);
  padding: var(--9px) var(--15px) var(--9px) var(--15px);
  border: none;
  border-radius: var(--6px);
  font-size: var(--16px);
  font-weight: 500;
  color: var(--text);
  background-color: var(--greenSecondary);
}

#horizontal-devider-el {
  border: 1px solid var(--backgroundSecondary);
}

#passwords-container {
  display: flex;
  flex-direction: row;
  gap: var(--20px);
  margin-top: var(--25px);
}

.passwords {
  width: var(--200px);
  height: var(--40px);
  border-radius: var(--6px);
  font-size: var(--16px);
  font-weight: 500;
  line-height: var(--40px);
  background-color: var(--backgroundSecondary);
  color: var(--green);
  text-align: center;
}
