:root {
  --background: #1f2937;
  --text: #fff;
  --textTwo: #d5d4d8;
  --header-font: Karla, Arial;
  --text-font: Inter, Arial;
  --green: #10b981;
  color: var(--text);
  background-color: var(--background);
  font-family: var(--text-font);
}

body {
  margin: 0;
}

#header-el {
  font-family: var(--header-font);
  color: var(--text);
}
#header-part-el {
  color: var(--green);
}

#lower-header-el {
  color: var(--textTwo);
}

#generate-btn-el {
  background-color: var(--green);
  border: none;
  border-radius: 6px;
}

#horizontal-devider-el {
  width: 95%;
}
