:root {
  --background: #1f2937;
  --backgroundSecondary: #2f3e53;
  --backgroundSecondaryHover: #283446;
  --backgroundSecondaryActive: #202a38;
  --text: #fff;
  --textSecondary: #d5d4d8;
  --textLight: #fff;
  --green: #55f991;
  --greenHeader: #55f991;
  --greenSecondary: #10b981;
  --greenSecondaryHover: #12a775;
  --greenSecondaryActive: #14996d;
  --greenInactiveSecondary: #273549;
  --greenInactiveSecondaryHover: #1f2b3b;
  --greenInactiveSecondaryActive: #1c2633;
  --headerFont: Karla, Arial;
  --textFont: Inter, Arial;
  --1px: 0.0625rem;
  --2px: 0.125rem;
  --3px: 0.1875rem;
  --5px: 0.3125rem;
  --6px: 0.375rem;
  --9px: 0.5625rem;
  --10px: 0.625rem;
  --12px: 0.75rem;
  --12-8px: 0.8rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --25px: 1.5625rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --35px: 2.1875rem;
  --40px: 2.5rem;
  --45px: 2.8125rem;
  --50px: 3.125rem;
  --90px: 5.625rem;
  --200px: 12.5rem;
  --352px: 22rem;
}
.lightmode {
  --background: #ecfdf5;
  --backgroundSecondary: #273549;
  --backgroundSecondary: #1f2b3b;
  --backgroundSecondary: #1c2633;
  --text: #111827;
  --textLight: #fff;
  --textSecondary: #6b7280;
  --green: #5def92;
  --greenHeader: #10b981;
  --greenSecondary: #10b981;
  --greenSecondaryHover: #12a775;
  --greenSecondaryActive: #14996d;
  --greenInactiveSecondary: #273549;
  --greenInactiveSecondaryHover: #1f2b3b;
  --greenInactiveSecondaryActive: #1c2633;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: var(--text-font);
}

#container {
  margin: var(--40px);
}

#theme-switch-el {
  height: var(--50px);
  width: var(--50px);
  padding: 0;
  border-radius: 50%;
  background-color: var(--backgroundSecondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: var(--40px);
  right: var(--40px);
  cursor: pointer;
}
#theme-switch-el svg {
  fill: var(--textLight);
}
#theme-switch-el svg:last-child {
  display: none;
}
.lightmode #theme-switch-el svg:first-child {
  display: none;
}
.lightmode #theme-switch-el svg:last-child {
  display: block;
}
#darkmode-icon {
  fill: #ecfdf5;
}

#header-el {
  width: var(--352px);
  margin-top: 0px;
  margin-bottom: var(--12-8px);

  font-family: var(--headerFont);
  font-size: var(--40px);
  line-height: var(--40px);
  letter-spacing: calc(var(--1px) * -1);
  color: var(--text);
  font-weight: 800;
}
#header-part-el {
  color: var(--greenHeader);
}

#lower-header-el {
  margin-top: 0;
  margin-bottom: var(--45px);
  font-family: var(--textFont);
  font-weight: 400;
  font-size: var(--20px);
  color: var(--textSecondary);
}

#generate-btn-el {
  margin-top: 0;
  margin-bottom: var(--25px);
  padding: var(--9px) var(--15px) var(--9px) var(--15px);
  border: none;
  border-radius: var(--6px);
  font-size: var(--16px);
  font-weight: 500;
  font-family: var(--textFont);
  color: var(--text);
  background-color: var(--greenSecondary);
  color: var(--textLight);
  cursor: pointer;
}
#generate-btn-el:hover {
  background-color: var(--greenSecondaryHover);
}
#generate-btn-el:active {
  background-color: var(--greenSecondaryActive);
}

.options-container {
  display: flex;
  align-items: center;
}

#length-el {
  font-family: var(--textFont);
  font-size: var(--16px);
  color: var(--textSecondary);
  width: var(--90px);
  font-weight: 500;
  cursor: default;
}

#slider-el {
  -webkit-appearance: none;
  appearance: none;
  width: var(--200px);
  height: var(--10px);
  border-radius: var(--5px);
  background: var(--backgroundSecondary);
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#slider-el:hover {
  opacity: 1;
}

#slider-el::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--16px);
  height: var(--16px);
  border-radius: 50%;
  background: var(--green);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#slider-el::-webkit-slider-thumb:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#slider-el::-moz-range-progress {
  background-color: var(--green);
  height: var(--10px);
  border-top-left-radius: var(--5px);
  border-bottom-left-radius: var(--5px);
}

#slider-el::-moz-range-thumb {
  width: var(--16px);
  height: var(--16px);
  border-radius: 50%;
  border: none;
  background: var(--green);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#slider-el::-moz-range-thumb:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#horizontal-divider-el {
  border: 1px solid var(--backgroundSecondary);
}

#passwords-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--20px);
  margin-top: var(--25px);
}

.passwords {
  padding-left: var(--5px);
  padding-right: var(--5px);
  min-height: var(--40px);
  min-width: var(--200px);
  border-radius: var(--6px);
  font-size: var(--16px);
  font-weight: 500;
  line-height: var(--40px);
  background-color: var(--backgroundSecondary);
  color: var(--green);
  text-align: center;
  border: none;
  word-break: break-all;
  cursor: pointer;
}
.passwords:hover {
  background-color: var(--backgroundSecondaryHover);
}
.passwords:active {
  background-color: var(--backgroundSecondaryActive);
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--35px);
  height: var(--20px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backgroundSecondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--16px);
  width: var(--16px);
  left: var(--2px);
  bottom: var(--2px);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--greenSecondary);
}

input:focus + .slider {
  box-shadow: 0 0 1px --green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--15px));
  -ms-transform: translateX(var(--15px));
  transform: translateX(var(--15px));
}

.slider.round {
  border-radius: var(--10px);
}

.slider.round:before {
  border-radius: 50%;
}

.switch-text {
  text-align: center;
}

.switches-container {
  display: flex;
  gap: var(--10px);
  align-items: center;
}
